<!-- Modal -->
<div class="modal fade" id="addCategorryModal" tabindex="-1" role="dialog" aria-labelledby="addCategorryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center text-bold" id="addCategorryModalLabel">Category Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" class="form-group"> <input type="text" required="required" class="add-categorry-form form-control" placeholder="Enter Name"> </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary create-category-btn">Save</button>
      </div>
    </div>
  </div>
</div>
